version: "3.8"
services:
  pgvector:
    image: ankane/pgvector:latest
    environment:
      POSTGRES_DB: pgvector
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - target: 5432
        published: 5432
  sandbox:
    build:
      context: .
      dockerfile: sandbox.Dockerfile
    ports:
      - target: 8000
        published: 8000
